name: Build

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", pypy3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    # You can test your matrix by printing the current Python version
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Build
      run: |
        python -m pip install scons tomli packaging
        scons -c
        scons
        python -m pip install dist/enscons*.whl

    # - name: Upload artifacts
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: dist
    #     path: ./dist
